body {
    font-family: copystruct, sans;
    font-size: 13px;
}

h1 {
    font-family: destroy, mono;
    text-align: center;
    font-size: 30px;
    line-height: 1em;
    padding: 0px;
    margin: 0px;
    letter-spacing: 8px;
    margin-bottom: 1em;
    margin-top: 1em;
    color: black;
}

li {
    font-size: 16px;
}

.instructions, instructions h2 {
    text-indent: 30px;
}

#demo {
    width: 800px;
    margin: auto;
    background-color: #ccc;
    border-radius: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#controls { 
    position: relative;
    margin: auto;
    width: 600px;
    height: 320px;
}

#directional_keys {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 260px;
    height: 260px;
}

#action {
    position: absolute;
    right: 100px;
    top: 110px;
}

#directional_keys > div {
    position: absolute;
}

#up {
    top: 0px;
    left: 90px;
}

#left {
    top: 90px;
    left: 0px;
}

#down {
    bottom: 0px;
    left: 90px;
}

#right {
    top: 90px;
    right: 0px;
}



.indicator {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    margin: -1px;
    text-align: center;
    line-height: 78px;
    text-shadow: 0px -0px 2px black;
    box-shadow: 0px 8px 18px #222;
}


.idle {
    transition: background-color 200ms, color 200ms;
    -moz-transition: background-color 200ms, color 200ms;
    -webkit-transition: background-color 200ms, color 200ms;
    -o-transition: background-color 200ms, color 200ms;
    background-color: #888;
    color: #ccc;
}

#action.press {
    -moz-animation-name: charge_up;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;

    -webkit-animation-name: charge_up;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
}

.press:not(#action) {
    -moz-animation-name: hold;
    -moz-animation-duration: 200ms;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;

    -webkit-animation-name: hold;
    -webkit-animation-duration: 200ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

#action.long {
    -moz-animation-name: long_hold;
    -moz-animation-duration: 100ms;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;

    -webkit-animation-name: long_hold;
    -webkit-animation-duration: 100ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}


@-moz-keyframes hold {
    from {
        background-color: #437200;
        color: #96ff00;
    }
    to {
        background-color: #004372;
        color: #005896;
    }
}

@-moz-keyframes charge_up {
    from {
        background-color: #437200;
        color: #96ff00;
    }
    to {
        background-color: #b1002e;
        color: white;
    }
}

@-moz-keyframes long_hold {
    from {
        background-color: #b1002e;
        color: white;
    }
    to {
        background-color: #f2003c;
        color: #5a5a5a;
    }
}



@-webkit-keyframes hold {
    from {
        background-color: #437200;
        color: #96ff00;
    }
    to {
        background-color: #004372;
        color: #005896;
    }
}

@-webkit-keyframes charge_up {
    from {
        background-color: #437200;
        color: #96ff00;
    }
    to {
        background-color: #b1002e;
        color: white;
    }
}

@-webkit-keyframes long_hold {
    from {
        background-color: #b1002e;
        color: white;
    }
    to {
        background-color: #f2003c;
        color: #5a5a5a;
    }
}