[submodule "demos/lpc_assets"]
	path = demos/lpc_assets
	url = https://github.com/Aeva/lpc_assets.git
[submodule "docs/source/_themes/jsdoc-for-sphinx"]
	path = docs/source/_themes/jsdoc-for-sphinx
	url = https://github.com/debrouwere/jsdoc-for-sphinx.git
