body {
    font-family: sans-serif;
}

#bg_demo {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #333;
}

a {
    font-weight: bold;
    text-decoration: none;
}

p {
    line-height: 1.5em;
    vertical-align: center;
    text-align: justify;
    text-indent: 1.5em;
}

ul {
    text-align: left;
    line-height: 2em;
    vertical-align: center;
    padding-left: 1em;
    padding-top: 1em;
}

.overlay {
    padding: 8px;
    text-align: center;
    border-radius: 4px;
}

.midnight {
    background-color: rgba(57, 51, 58, 0.8);
    color: white;
}
.midnight a {
    color: #78b8ff;
}
.midnight a:hover {
    color: white;
}


.midday {
    background-color: rgba(200, 200, 200, 0.75);
    color: black;
}
.midday a {
    color: #0862ae;
}
.midday a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.25);
}


#nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-content: space-around;
    
    position: absolute;
    top: 50%;
    left: 20px;
    width: 140px;
    height: 300px;
    margin-top: -150px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
}

#nav a {
    display: block;
    line-height: 2.75em;
}

#nav a:hover {
    border-top: 1px dotted #888;
    border-bottom: 1px dotted #888;
    margin-top: -1px;
    margin-bottom: -1px;
}

.nav_item {
    -webkit-flex: auto;
    flex: auto;
    min-width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#nav_top_decoration, #nav_bottom_decoration {
    display: block;
    position: absolute;

    top: 50%;
    left: 20px;
    width: 142px;
    height: 48px;
    margin-top: -184px;

    margin-left: -1px;
    margin-right: -1px;
    background-image: url('img/content_top_left.png'), 
                      url('img/content_top_right.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
}
#nav_top_decoration:after, #nav_bottom_decoration:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    height: 48px;
    content: " ";

    background-image: url('img/content_top_fill.png');
    background-repeat: repeat-x;
    background-position: center;
}
#nav_bottom_decoration {
    margin-top: 168px !important;
    background-image: url('img/content_bottom_left.png'), 
                      url('img/content_bottom_right.png') !important;
}
#nav_bottom_decoration:after {
    background-image: url('img/content_bottom_fill.png') !important;
}


#content {
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    right: 20px;
    bottom: 40px;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
}


#content_top_decoration, #content_bottom_decoration {
    display: block;
    position: absolute;
    top: 6px;
    left: 50%;
    right: 20px;
    height: 48px;
    margin-left: -1px;
    margin-right: -1px;
    background-image: url('img/content_top_center.png'),
                      url('img/content_top_left.png'),
                      url('img/content_top_right.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, left, right;
}
#content_top_decoration:after, #content_bottom_decoration:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    height: 48px;
    content: " ";

    background-image: url('img/content_top_fill.png');
    background-repeat: repeat-x;
    background-position: center;
}


#content_bottom_decoration {
   top: auto !important;
   bottom: 6px;
   background-image: url('img/content_bottom_center.png'),
                     url('img/content_bottom_left.png'),
                     url('img/content_bottom_right.png') !important;
}
#content_bottom_decoration:after {
    background-image: url('img/content_bottom_fill.png') !important;
}

#content > div {
    display: none;
}

#content > div:target {
    display: block;
}

.content_flexbox {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 20px;
    right: 20px;
    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-content: space-around;
}

.content_flexbox > * {
    -webkit-flex: auto;
    flex: auto;
    min-width: 100%;
    margin: auto;
}

.fine_print > p {
    line-height: 1em;
    text-indent: 0px;
    font-size: 12px;
}

.demo_link {
    border: 1px solid #888;
    border-radius: 8px;
    padding-top: 1em;
    padding-bottom: 1em;
}