<!doctype html>
<html><head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="libs/gl-matrix.js"></script>
  <script type="text/javascript" src="libs/mgrl.js"></script>
  <link rel="stylesheet" type="text/css" href="libs/theme.css" />
  
  <script type="text/javascript" src="project.js"></script>
  <link rel="stylesheet" type="text/css" href="ui.css" />
  
</head><body>
  <div id="demo_area">
    <div id="fps_counter">FPS:<span id="fps">???</span></div>
    <canvas id="gl_canvas" class="fullscreen" width=840 height=630>
      Your browser does not appear to support HTML5 canvas and/or webgl.
    </canvas>
  </div>
</body></html>
