h1 {
    text-align: center;
}

#content {
    margin: auto;
    max-width: 800px;
    text-align: justify;
}

#animations {
    text-align: center;
}

#console {
    width: 350px;
    font-family: mono;
    font-size: 12px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 48px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    border: 1px dashed #aaa;
}

.ani_frame {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 128px;
    background-color: #999;
    border: 1px solid #444;
    border-radius: 4px;
    margin: 10px;
    box-shadow: 0px 5px 20px #444;
}
.ani_frame > div {
    position: absolute;
    top: 39px;
    left: 39px;
    width: 48px;
    height: 48px;
    background-color: #999;
    border: 1px dashed white;
}
