body {
  background-color: #f9f9f9;
  color: #4a4949;
  margin: 0px;
  font-family: sans;
  width: 1000px;
  margin: auto;
}

a {
  color: #4a4949;
  text-decoration: none;
  border-bottom: 1px dashed #4a4949;
  padding-bottom: -1px;
}

a:hover {
  color: #eb7b17;
  border-bottom: 1px solid #eb7b17;
  padding-bottom: -1px;
}

#topper {
  color: #1a1714;
  text-shadow: 0px 1px 1px black;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 32px;
  line-height: 80px;
  margin-bottom: -34px;
}

#page {
  background-color: #ebeae7;
  min-height: 640px;
  padding: 16px;
  border-radius: 16px;
}