
body {
    padding: 0px;
    margin: 0px;
}

canvas {
    image-rendering: -moz-pixelated;
    image-rendering: pixelated;
}

#gl_canvas.fullscreen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#gl_canvas:not(.fullscreen) {
    margin: auto;
}

#fps_counter {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    text-align: left;
    z-index: 20;
}

#loading_screen {
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 25%;
    font-size: 100px;
    margin-bottom: -.75em;
    text-align: center;
    z-index: 15;
}